

/*
 * Module admin styles
 */
#configuration-search-form {
  clear: both;
  height: 50px;
}

#configuration-search-form #edit-search-criteria-wrapper {
  float: left;
}

#configuration-search-form .form-submit {
  margin: 1em 0.5em 1em 1em;
  float: left;
}

#yahoo_noconfig {
  padding: 20px 0 0 0;
}